@tailwind base;
@tailwind components;
@tailwind utilities;

// Not found, original code: https://codepen.io/Navedkhan012/pen/vrWQMY

.four_zero_four_bg {
    background-image: url('./assets/NotFound.gif');
    height: 500px;
    background-position: center;
}
   
.four_zero_four_bg h1 {
font-size: 80px;
}
  
// -- Not found, original code: https://codepen.io/Navedkhan012/pen/vrWQMY end --